body {
    margin: 0;
    padding: 0;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: white;
    font-size: 24px;
    /* Dark gray sharp drop shadow */
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}